.like-btn {
  color: #ffffff;
  background-color: transparent;
  position: absolute;
  right: 10px;
  top: 10px;
  &:hover {
    color: #ffffff;
  }
  &.active {
  color: #ff6348;
  box-shadow: none;
  }
}

.delete-btn {
  color: #ffffff;
  background-color: transparent;
  display: none;
  &:hover {
    color: #1e90ff;
  }
  &.visible {
  display: block;
  }
}
